MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TLS=false
MQTT_CA_FILE=
FIREBASE_DATABASE_URL=https://nexus-iot-senai-default-rtdb.firebaseio.com
FIREBASE_CREDENTIALS=service-account.json
SIMULATOR_DEVICES=ESP32-COMP-01,ESP32-BOMBA-01,ESP32-TORNO-01
SIMULATOR_INTERVAL_SECONDS=5

